<h1>{{ title }}</h1>

{# TODO: add an image #}

<div>
    Tracks:

    <ul>
        {% for track in tracks %}
            <li>{{ track.song }} - {{ track.artist }}</li>
        {% endfor %}
    </ul>
</div>
